<launch>

  <!--Robot Description from URDF-->
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find sbot_description)/urdf/sbot.xacro"/>  
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>

  <!--RViz create by using config that save before-->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find sbot_description)/launch/rviz_config.rviz"/>

  <!--Gazebo empty world launch file-->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
      <arg name="world_name" value="$(find sbot_description)/world/FN.world"/> <!-- get world that create in gazebo -->
    	<arg name="debug" value="false" />
    	<arg name="gui" value="true" />
    	<arg name="paused" value="false"/>
    	<arg name="use_sim_time" value="false"/>
  </include>

  <!-- Testing output camera
  <node name="image_view" pkg="image_view" type="image_view" respawn="false" output="screen">
    <param name="image_raw" value="/sbot/camera1/image_raw" />
  </node> -->

  <!--Spawn sbot in Gazebo-->
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model sbot" output="screen"/>
  
</launch>